<div>
	<section itemprop="mainEntity" itemscope itemtype="http://schema.org/Person">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 card border-0 d-flex w-100">
				<div class="card-body">
					<h5 itemprop="name" class="card-title">{{ site.cv.name | upcase }}</h5>
					<h6 itemprop="jobTitle" class="card-subtitle mb-1 brand">{{ site.cv.tagline }}</h6>
					<section itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="fontsizedot80">
						<i class="fas fa-map-marker-alt fontsizedot80"></i> 
						<span itemprop="streetAddress">{{ site.cv.contact.location.streetAddress }}</span>, 
						<span itemprop="addressLocality">{{ site.cv.contact.location.addressLocality }}</span>, 
						<!--<span itemprop="addressRegion">{{ site.cv.contact.location.addressRegion }}</span>, -->
						<span itemprop="addressCountry">{{ site.cv.contact.location.addressCountry }}</span>
						<!--<span itemprop="postalCode">{{ site.cv.contact.location.postalCode }}</span>-->
					</section>
				</div>
			</div>

			<div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 d-flex w-100">
				<img src="{{ site.cv.photo | relative_url }}" itemprop="image" alt="Photo of {{ site.cv.name }}" class="rounded-circle profilepic m-auto" />
			</div>
		</div>
		<div class="row fontsizedot80">
			<div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 card border-0 d-flex w-100">
				<div class="card-body">
					<div class="noscreen">
					<i class="fas fa-envelope"></i><a itemprop="email" href="mailto:{{ site.cv.contact.email }}" class="pl-1 clearfix">{{ site.cv.contact.email }}</a> 
					<i class="fab fa-whatsapp"></i><a itemprop="telephone" href="tel:{{ site.cv.contact.mobile }}" class="pl-1 clearfix">{{ site.cv.contact.mobile }}</a> 
					</div>
					<div class="noprint">
					<i class="fab fa-github"></i><a href="{{ site.cv.contact.github }}" class="pl-1 clearfix" target="_blank">{{ site.cv.contact.github }}</a> 
					<i class="fab fa-medium"></i><a href="{{ site.cv.contact.blog }}" class="pl-1 clearfix" target="_blank">{{ site.cv.contact.blog }}</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 card border-0 d-flex w-100">
				<div class="card-body">
					<i class="fas fa-link"></i><a itemprop="url" href="{{ site.cv.contact.website }}" class="pl-1 clearfix" target="_blank">{{  site.cv.contact.website }}</a> 
					<i class="fab fa-linkedin"></i><a itemprop="sameAs" href="{{ site.cv.contact.linkedin }}" class="pl-1 clearfix" target="_blank">{{ site.cv.contact.linkedin }}</a>
				</div>
			</div>
		</div>
	</section>
	
	<div class="row">
		<div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 card border-0 d-flex w-100">
			<div class="card-body">
				<h5 class="card-title heading">EXPERIENCE</h5>
				{%- for job in site.cv.experience -%}
					<span class="card-subtitle clearfix">{{ job.lastpositionheld }}</span>
					<span class="fontsizedot80 brand font-weight-bold clearfix">{{ job.company }}</span>
					<span class="fontsizedot70 clearfix">
						<i class="far fa-calendar-alt pr-1"></i>{{ job.starttoenddate }}
						<span class="pl-1 fontsizedot70"><i class="fas fa-map-marker-alt"></i> {{ job.location }}</span>
					</span>
					<ul class="fontsizedot70 mb-0 pl-3">
						{%- for achievement in job.achievements -%}
  						<li>{{ achievement }}</li>
  						{%- endfor -%}		
					</ul>
					<span class="fontsizedot70 brand font-weight-bold"><i class="fas fa-user-tie pr-1"></i>Position/s Held</span>
					<ul class="fontsizedot70 pl-3">
						{%- for positionheld in job.positionsheld -%}
  						<li>{{ positionheld.title }}<span class="pl-2">{{ positionheld.starttoenddate }}</span></li>
  						{%- endfor -%}		
					</ul>
					{%- if forloop.last != true -%}
					<hr class="my-0"/>
					{%- endif -%}
				{%- endfor -%}		
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 card border-0 d-flex w-100">
			<div class="card-body clearfix">
				<h5 class="card-title heading">RETROSPECTION</h5>
				{%- for retro in site.cv.retrospection -%}
  					<span class="fontsizedot80 brand font-weight-bold clearfix">{{ retro.title }}</span>
  					<span class="fontsizedot70 clearfix">{{ retro.description }}</span>
  					{%- if forloop.last != true -%}
					<hr class="my-0"/>
					{%- endif -%}
  				{%- endfor -%}		
			</div>
			<div class="card-body">
				<h5 class="card-title heading">ANTICIPATION</h5>
				{%- for future in site.cv.anticipation -%}
  					<span class="fontsizedot80 brand font-weight-bold clearfix">{{ future.title }}</span>
  					<span class="fontsizedot70 clearfix">{{ future.description }}</span>
  					{%- if forloop.last != true -%}
					<hr class="my-0"/>
					{%- endif -%}
  				{%- endfor -%}		
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 card border-0 d-flex w-100">
			<div class="card-body">
				<h5 class="card-title heading">EDUCATION</h5>
				{%- for edu in site.cv.education -%}
					<span class="card-subtitle clearfix">{{ edu.degree }}</span>
					<span class="fontsizedot80 brand font-weight-bold clearfix">{{ edu.institute }}</span>
					<span class="fontsizedot70 clearfix">
						<span class="fontsizedot70"><i class="fas fa-map-marker-alt pr-1"></i>{{ edu.location }}</span>
						<i class="far fa-calendar-alt pl-1 pr-1"></i>{{ edu.starttoenddate }}
					</span>
					{%- if forloop.last != true -%}
					<hr class="my-0"/>
					{%- endif -%}
				{%- endfor -%}					
			</div>
			<div class="card-body">
				<h5 class="card-title heading">CERTIFICATION</h5>
				{%- for cert in site.cv.certification -%}
					<span class="card-subtitle clearfix">{{ cert.name }}</span>
					<span class="fontsizedot80 brand font-weight-bold">
						<i class="fas fa-certificate pr-1"></i>{{ cert.id }}
					</span>
					<span class="fontsizedot70 clearfix pl-1">
						<i class="far fa-calendar-alt pr-1"></i>{{ cert.certdate }}
					</span>
					{%- if forloop.last != true -%}
					<hr class="my-0"/>
					{%- endif -%}
				{%- endfor -%}	
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 card border-0 d-flex w-100">
			<div class="card-body">
				<h5 class="card-title heading">SKILLSET</h5>
				{%- for skill in site.cv.skillset -%}
				<span class="fontsizedot80 brand inlineblock font-weight-bold mr-2">{{ skill }}</span>
				{%- endfor -%}	
			</div>
		</div>
	</div>

</div>